# DataScience tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. tensorflow
4. Matplotlib
5. keras

|Data Science Tools |
|---| 
| SAS | 
|Apache Hadoop|
|TensorFlow|

# Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#this is a common arithmetic example to multiply and then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

__objective__ 
* List popular languages for Data Science 
* List popular libraries for Data Science 
* List of Well known Data Science Tools 
* How to Provide comments in the cell

## Author 
krupa joshi